.registration-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.5fr 0.2fr;
  gap: 10px 10px;
  grid-template-columns: repeat(4, 1fr);
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 2px;
}

.registration-header {
  grid-column: 1/5;
  grid-row: 1;
  background-color: #0275d8;
}

.registration-sidenav {
  grid-column: 1/3;
  grid-row: 2;
  background-color: #0275d8;
  color: #ffffff;
}

.registration-sidenav p {
  margin: 10px;
  font-size: x-large;
}

.registration-form {
  grid-column: 4;
  grid-row: 2;
  border: 2px black solid;
}

.input-buttons {
  display: grid;
  justify-content: center;
  align-items: center;
}

input[type="text"],
[type="email"],
[type="password"],
[type="checkbox"] {
  font-size: x-large;
  margin: 10px;
  padding: 10px;
  border: 2px black solid;
  border-radius: 5px;
  outline: none;
}

input[type="submit"] {
  font-size: x-large;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: #ffffff;
  border: none;
  outline: none;
}

.texte {
  display: grid;
  justify-content: center;
  align-items: center;
}

.submit {
  display: grid;
  justify-content: center;
  align-items: center;
}

.password-info {
  margin: 5px;
  font-size: small;
  text-align: center;
}

.hint {
  margin: 5px;
  font-size: small;
  text-align: center;
}

.member {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: small;
  text-align: center;
}

.registration-footer {
  grid-column: 1/5;
  grid-row: 3;
  background-color: #0275d8;
}

::placeholder {
  color: #000000;
  font-size: large;
}
