body {
  /*background-image: url("../img/pic.jpg");*/
  background-color: #ffffff;
   font-family: 'Josefin Sans', sans-serif;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.6fr 1.3fr 0.3fr;
  gap: 15px 0px;
 
}
.header {
  grid-column: 1/7;
  grid-row: 1;
  background-color: #003F8C;
}
.login {
  grid-column: 2/4;
  grid-row: 2;
  border: solid black 2px;
  background-color: #008B8B;
}
.impressum {
  grid-column: 2/4;
  grid-row: 3;
  background-color: #008B8B;
}
#form {
  text-align: center;
}
input[type="text"],
[type="password"] {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border: 2px black solid;
  border-radius: 5px;
  font-size: larger;
}
input[type="submit"] {
  font-size: larger;
  width: 32%;
  margin: 10px;
  padding: 10px;
  border: 2px black solid;
  border-radius: 5px;
  background-color: #003F8C;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

/* Photo by Luck Galindo from Pexels

*/

input:hover{
  background-color: #e9e9e9;
  color: #000000;
}
